@model dzfroct2006.Models.Hotels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layoutpages.cshtml";
}

<h2>@Resources.Labels.NewHotel</h2>

@using (Html.BeginForm("Create", "Hotel", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        
        <div class="form-group form-group">
            <label class="control-label col-sm-2" for="Name"> @Resources.Labels.HotelName </label>
          
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="Description"> @Resources.Labels.HotelDiscription </label>

            @Html.TextBoxFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="NbStars"> @Resources.Labels.NbStars </label>

            @Html.TextBoxFor(model => model.NbStars)
            @Html.ValidationMessageFor(model => model.NbStars)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="PhoneNumber1"> @Resources.Labels.HotelPhoneNumber</label>

            @Html.TextBoxFor(model => model.PhoneNumber1)
            @Html.ValidationMessageFor(model => model.PhoneNumber1)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="PhoneNumber2"> @Resources.Labels.HotelPhoneNumber</label>

            @Html.TextBoxFor(model => model.PhoneNumber2)
            @Html.ValidationMessageFor(model => model.PhoneNumber2)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="PhoneNumber3"> @Resources.Labels.HotelPhoneNumber</label>

            @Html.TextBoxFor(model => model.PhoneNumber3)
            @Html.ValidationMessageFor(model => model.PhoneNumber3)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="FaxNumber1"> @Resources.Labels.HotelFax</label>

            @Html.TextBoxFor(model => model.FaxNumber1)
            @Html.ValidationMessageFor(model => model.FaxNumber1)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="FaxNumber2"> @Resources.Labels.HotelFax</label>

            @Html.TextBoxFor(model => model.FaxNumber2)
            @Html.ValidationMessageFor(model => model.FaxNumber2)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="FaxNumber3"> @Resources.Labels.HotelFax</label>

            @Html.TextBoxFor(model => model.FaxNumber3)
            @Html.ValidationMessageFor(model => model.FaxNumber3)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="Email1"> @Resources.Labels.email</label>

            @Html.TextBoxFor(model => model.Email1)
            @Html.ValidationMessageFor(model => model.Email1)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="Email2"> @Resources.Labels.email</label>

            @Html.TextBoxFor(model => model.Email2)
            @Html.ValidationMessageFor(model => model.Email2)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="Address"> @Resources.Labels.Address</label>

            @Html.TextAreaFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="Town"> @Resources.Labels.Town</label>

            @Html.TextBoxFor(model => model.Town)
            @Html.ValidationMessageFor(model => model.Town)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="Wilaya"> @Resources.Labels.Wilaya</label>

            @Html.TextBoxFor(model => model.Wilaya)
            @Html.ValidationMessageFor(model => model.Wilaya)
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="AddressDescription"> @Resources.Labels.AddressDescription</label>

            @Html.TextAreaFor(model => model.AddressDescription)
            @Html.ValidationMessageFor(model => model.AddressDescription)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}



