@{
    Layout = "~/Views/Shared/_Layoutpages.cshtml";
}

@model dzfroct2006.Models.Hotel


<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

 

<div class="container-fluid page">
    <div id="entete">
        <h1>
            <strong>@Html.DisplayFor(model => model.Name)</strong>
        </h1>
        <h6 class="col-xs-6 col-sm-4 col-md-3">
            <span class="icon-large icon-home"></span> &ensp; @Html.DisplayFor(model => model.Address)
        </h6>
        <h6 class="col-xs-6 col-sm-4 col-md-3">
            <span class="icon-large icon-envelope"></span> &ensp;
            <a href="mailto:@Html.DisplayFor(model => model.Email1)">@Resources.Labels.ContactEmail</a>
        </h6>
        <h6 class="col-xs-6 col-sm-4 col-md-3">
            <span class="icon-large icon-phone"></span> &ensp; @Html.DisplayFor(model => model.PhoneNumber1)
        </h6>
        <h6 class="col-xs-6 col-sm-4 col-md-3">
            <span class="icon-large icon-print"></span> &ensp; @Html.DisplayFor(model => model.FaxNumber1)
        </h6>
        <br>
    </div>
    <br/>
    <br/>
    <br />
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @foreach (var item in Model.HotelImages.Select((value, i) => new { i, value }))
            {
                if (@item.i == 0)
                {
                    <li data-target="#myCarousel" data-slide-to="@item.i" class="active"></li>
                }
                else
                {
                    <li data-target="#myCarousel" data-slide-to="@item.i"></li>
                }
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @foreach (var item in Model.HotelImages.Select((value, i) => new { i, value }))
            {
                if (@item.i == 0)
                {
                    <div class="item active">
                        <img src="@item.value.FilePath" alt="Chania" width="460" height="345">
                        <div class="carousel-caption">
                            <h3>@item.value.Name</h3>
                            <p>@item.value.Description</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <img src="@item.value.FilePath" alt="Chania" width="460" height="345">
                        <div class="carousel-caption">
                            <h3>@item.value.Name</h3>
                            <p>@item.value.Description</p>
                        </div>
                    </div>
                }
            }
        </div>
       
    </div>
    <br />
    <br />
</div>
<br />
<br />
<div class="container-fluid page">
    <div>
        <h3 id="position_hotel" class="text-primary">
            Réservation à l'@Html.DisplayFor(model => model.Name)
        </h3>
    </div>

    <div class="dropdown">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#ongletDesc">@Resources.Labels.Description</a></li>
            <li><a data-toggle="tab" href="#ongletSrvices">@Resources.Labels.Services</a></li>
            <li><a data-toggle="tab" href="#ongletComent">@Resources.Labels.Comments</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="ongletDesc" class="tab-pane fade in active">
            <div class="typeChambre">
                <div class="">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="background-color:#80daeb; color:white">
                                <th style="width:400px">@Resources.Labels.RoomType</th>
                                <th style="width:200px">@Resources.Labels.NbrMax</th>
                                <th>@Resources.Labels.Option</th>
                                <th style="border:0">@Resources.Labels.Price</th>
                                <th style="border:0"></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.Rooms.Select((value, i) => new { i, value }))
                            {
                                <tr>
                                    <td>@item.value.RoomType</td>
                                    <td>@item.value.NbPersonnes</td>
                                    <td>@item.value.Description</td>
                                    <td>@item.value.Price</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-block">@Resources.Labels.Booking</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="ongletSrvices" class="tab-pane fade">
            <div class="divServices">
                <div class="list-group">
                    <a class="list-group-item">
                        <table>
                            <tr>
                                <td class="width300 icone-cafe"><b>@Resources.Labels.Cafeteria</b></td>
                                <td class="width300"><b>@Resources.Labels.InTheHotel :</b>oui</td>
                                <td class="width300"><b>@Resources.Labels.outside :</b>à 100m</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item">
                        <table>
                            <tr>
                                <td class="width300 icone-resto"><b>@Resources.Labels.Restaurant</b></td>
                                <td class="width300"><b>@Resources.Labels.InTheHotel :</b>Non</td>
                                <td class="width300"><b>@Resources.Labels.outside :</b>à 100m</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item">
                        <table>
                            <tr>
                                <td class="width300 icone-wifi"><b>@Resources.Labels.InternetWifi</b> </td>
                                <td class="width300"><b>@Resources.Labels.Room :</b> Non</td>
                                <td class="width300"><b>@Resources.Labels.PublicSpace :</b> Oui</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item">
                        <table>
                            <tr>
                                <td class="width300"><b>@Resources.Labels.Parking</b></td>
                                <td class="width300"><b>@Resources.Labels.Private :</b>Non</td>
                                <td class="width300"><b>@Resources.Labels.Public :</b> à 100m</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item">
                        <table>
                            <tr>
                                <td class="width300"><b>@Resources.Labels.RoomFacilities</b></td>
                                <td class="width300">
                                    <ul>
                                        <li>TV</li>
                                        <li>Climatisation</li>
                                        <li>Chauffage</li>
                                    </ul>
                                </td>
                                <td class="width300">
                                    <ul>
                                        <li>Téléphone</li>
                                        <li>Coffre-fort</li>
                                        <li>Lit bébé sur demande</li>
                                    </ul>

                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
            </div>
        </div>
        <div id="ongletComent" class="tab-pane fade">
            <p>................comm</p>

        </div>
    </div>
</div>

<br />
<br />
  
<div class="container-fluid page">
    <div>
        <h3 id="position_hotel" class="text-primary">
            Emplacement de l'@Html.DisplayFor(model => model.Name)
        </h3>
    </div>
</div>

<br />
<br />
    <script type="text/javascript">

        $("#togModifSearche").click(function () {
            $("#infoSearche").show();
            $("#togCloseSearche").show();
            $("#togModifSearche").hide();
        });
        $("#togCloseSearche").click(function () {
            $("#infoSearche").hide();
            $("#togCloseSearche").hide();
            $("#togModifSearche").show();
        });

        $('.SearchDate').datepicker({
            startDate: '-3d'
            //add more options for language
        })


    </script>
