@{
    Layout = "~/Views/Shared/_Layoutpages.cshtml";
}

@model dzfroct2006.Models.Hotels



    <div class="jumbotron bg-primary">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <ul class="list-inline">
                        <li>Votre recherche : <strong>@ViewBag.ville</strong> : @ViewBag.dateDebut - @ViewBag.dateFin</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <a id="togModifSearche" href="#" class="be-toggler pull-right togSearche">@Resources.Labels.Modify<span class="glyphicon glyphicon-chevron-down"></span></a>
                    <a id="togCloseSearche" style="display:none" href="#" class="be-toggler pull-right togSearche">@Resources.Labels.Close<span class="glyphicon glyphicon-chevron-up"></span></a>

                </div>
            </div>
            <div id="infoSearche" style="display:none">
                <form role="form" class="form-inline">
                    <div>
                        <input type="text" value="" placeholder="@ViewBag.ville" class="form-control" />
                        <input type="text" class="SearchDate form-control" placeholder="@ViewBag.dateDebut">
                        <input type="text" class="SearchDate form-control" placeholder="@ViewBag.dateFin">
                        <select name="nbrPersonne" class="form-control" onChange='Choix(this.form)'>
                            <OPTION>- @Resources.Labels.SelectNumberOfPerson -</OPTION>
                                <OPTION>1</OPTION>
                                <OPTION>2</OPTION>
                                <OPTION>3</OPTION>
                                <OPTION>4</OPTION>
                                <OPTION>Plus de 4</OPTION>
                        </select>
                        <button class="btn btn-success btn-lg pull-right">@Resources.Labels.Search </button>
                    </div>
                </form>
            </div>
        </div>


<div>
    <ul class="list-inline">
        <li><b>@Html.DisplayFor(model => model.Name)</b> : <span class="glyphicon glyphicon-home"></span>@Html.DisplayFor(model => model.Address)</li>
        <br />
        <li><span class="glyphicon glyphicon-phone-alt"></span>@Html.DisplayFor(model => model.PhoneNumber1) - <span class="glyphicon glyphicon-print"></span>@Html.DisplayFor(model => model.FaxNumber1)
            <br />
        </li>
    </ul>
    <hr class="thin">
</div>  

    <ul class="bxslider">
        <li><img class="img" src="~/Images/HotelsImages/HotelTest/hotelTest2.png" /></li>
        <li><img class="img" src="~/Images/HotelsImages/HotelTest/hotelTest1.png" /></li>
    </ul>



<div>
    <hr class="thin">
</div>

<div class="dropdown">

    <ul class="nav nav-tabs">
        <li class="active" ><a data-toggle="tab" href="#ongletDesc">@Resources.Labels.Description</a></li>
        <li><a data-toggle="tab" href="#ongletSrvices">@Resources.Labels.Services</a></li>
        <li><a data-toggle="tab" href="#ongletComent">@Resources.Labels.Comments</a></li>
    </ul>
 </div>
    <div class="tab-content">
        <div id="ongletDesc" class="tab-pane fade in active">
            <p>@Html.DisplayFor(model => model.Description)…</p>
            <div class="typeChambre">
                <div class="">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="background-color:#80daeb; color:white">
                                <th style="width:400px">@Resources.Labels.RoomType</th>
                                <th style="width:200px">@Resources.Labels.NbrMax</th>
                                <th>@Resources.Labels.Option</th>
                                <th style="border:0">@Resources.Labels.Price</th>
                                <th style="border:0"></th>
                            </tr>
                        </thead>

                        <tbody>
                                                    <script type="text/javascript">
                                                        function constructListHotel(){
                                                            for(var room in @Html.DisplayFor(model => model.Rooms){

                                                                 <tr>
                                <td >Chambre double</td>
                                <td>2</td>
                                <td >
                                    <table>
                                        <tr>
                                            <td>Wifi gratuit</td>
                                        </tr>
                                        <tr>
                                            <td>petit deje</td>
                                        </tr>
                                    </table>

                                </td>
                                <td class="width150" >5000DA</td>
                                <td class="width250"><a href="#" class="btn btn-info btn-lg pull-right" 
                                       style="width:100px;height:10px; text-align:center">Reservé<span class="glyphicon glyphicon-play"></span>
                                     </a>
                                </td>
                            </tr>
                  

                                                            }
                                                            };
                          </script>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <div id="ongletSrvices" class="tab-pane fade">
            <div class="divServices">
                <div class="list-group">
                    <a class="list-group-item">
                        <table>
                            <tr>
                                <td class="width300 icone-cafe"><b>@Resources.Labels.Cafeteria</b></td>
                                <td class="width300"><b>@Resources.Labels.InTheHotel :</b>oui</td>
                                <td class="width300"><b>@Resources.Labels.outside :</b>à 100m</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item">
                        <table>
                            <tr>
                                <td class="width300 icone-resto"><b>@Resources.Labels.Restaurant</b></td>
                                <td class="width300"><b>@Resources.Labels.InTheHotel :</b>Non</td>
                                <td class="width300"><b>@Resources.Labels.outside :</b>à 100m</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item">
                        <table>
                            <tr>
                                <td class="width300 icone-wifi"><b>@Resources.Labels.InternetWifi</b> </td>
                                <td class="width300"><b>@Resources.Labels.Room :</b> Non</td>
                                <td class="width300"><b>@Resources.Labels.PublicSpace :</b> Oui</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item">
                        <table>
                            <tr>
                                <td class="width300"><b>@Resources.Labels.Parking</b></td>
                                <td class="width300"><b>@Resources.Labels.Private :</b>Non</td>
                                <td class="width300"><b>@Resources.Labels.Public :</b> à 100m</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item">
                        <table>
                            <tr>
                                <td class="width300"><b>@Resources.Labels.RoomFacilities</b></td>
                                <td class="width300">
                                    <ul>
                                        <li>TV</li>
                                        <li>Climatisation</li>
                                        <li>Chauffage</li>
                                    </ul>
                                </td>
                                <td class="width300">
                                    <ul>
                                        <li>Téléphone</li>
                                        <li>Coffre-fort</li>
                                        <li>Lit bébé sur demande</li>
                                    </ul>

                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
            </div>
        </div>
        <div id="ongletComent" class="tab-pane fade">
            <p>................comm</p>

        </div>
    </div>



    <script type="text/javascript">
        $('.bxslider').bxSlider({
            auto: true,
            autoControls: true
        });
    </script>

    <script type="text/javascript">
            $("#togModifSearche").click(function () {
                $("#infoSearche").show();
                $("#togCloseSearche").show();
                $("#togModifSearche").hide();
            });
            $("#togCloseSearche").click(function () {
                $("#infoSearche").hide();
                $("#togCloseSearche").hide();
                $("#togModifSearche").show();
            });

            $('.SearchDate').datepicker({
                startDate: '-3d'
                //add more options for language
            })
    </script>